@charset "UTF-8";

@font-face {
    font-family: sporty;
    src: url("../fonte/sporty-pro-bold.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body, html {
    overflow-x: hidden;
}

#splash-screen {
    position: fixed; /* Fixa a posição na tela */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    z-index: 100;            /* Garante que fique acima de todo o resto */
    background-color: black;
}

#splash-screen img {
    max-width: 100vw;
    max-height: 100vh;
    /* Adicione estilos para sua imagem, se necessário (ex: animacoes simples) */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

nav {
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 78px;
    background-color: black;
    position: fixed;
}

.logoTopo {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoTopo > img {
    height: 5vh;
    padding-left: 30px;
}

.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 78px;
        width: auto;
        padding: 0px 15px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 0px 5px;
        font-size: 1.2vw;
    }

    a:hover {
        background-color: rgba(255, 255, 255, 0.103);
        color: rgb(0, 200, 255);
        height: 78px;
    }
}

.menuDireita {
    width: 400px;
    color: white;
    display: flex;
    align-items: center;

    p {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        margin-right: 50px;
        padding: 10px 20px;
    }

    a {
        text-decoration: none;
    }

    a p:hover {
        padding: 10 20pxpx;
        background-color: rgba(255, 255, 255, 0.053);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: rgb(0, 200, 255);
    }

    .search-container > input {
        background-color: rgba(255, 255, 255, 0.059);
        margin-right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        font-size: 1.5em;
        color: black;
        border-color: transparent;
    }
}

/* ------------------------------------ MAIN ------------------------------------ */

section {
    height: 100vh;
    
}

.sec1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img { 
        position: relative;   
        max-width: 368px;
    }
}

#video-fundo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-size: cover;
}

.sec2 {
    display: flex;
    height: 640px;
    background-color: white;

    .sec2Esquerda {
        height: 630px;
        width: 100vw;
    }

    .sec2Esquerda {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 630px;

        .esquerd {
            height: 350px;
        }

        h2 {
            background-image: linear-gradient(to right, rgba(128, 128, 128, 0.23), transparent);
            font-family: "sporty";
            font-size: 3.5em;
            text-align: center;
            padding: 6px 6px 0px 6px;
            width: 830px;
            margin-bottom: 40px;
          
        }

        .descubraPer {
            font-family: "sporty";
            text-align: center;
            font-size: 2em;
        }

        .brasao {
            margin-top: 10px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                .img00 {
                    display: block;
                }

                img {
                    width: 6em;
                }

                p {
                    margin-top: 10px;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                }
                
                a:hover {
                    color: rgb(0, 200, 255);
                }
        }
    }
    .sec2Direita {
        height: 630px;
        width: 1300px;
        background-image: linear-gradient(to right, rgba(128, 128, 128, 0.108), transparent);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.iframePersonagens {
    overflow: hidden;
    height: 630px;
    
}

.sec3 {
    height: 80vh;
    background-image: url("../imagens/318gvi318gvi318g.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    div {
        display: flex;
        padding-top: 80px;
        font-family: "sporty";
        justify-content: center;

    }

    .sec3_1 {
        display: block;
    }

    .sec3_1 h2 {
        color: #00daff;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.532);
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sec3_2 p {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #00daff;
        margin-top: 100px;
        font-size: 2em;
        width: 340px;
        padding: 10px 0px 10px 0px;
        box-shadow: inset 3px 3px 0px 0px #01bbdb, inset -3px -3px 0px 0px #004b59;
        color: rgba(0, 0, 0, 0.858);
        cursor: pointer;
    }

    .sec3_2 p:hover {
        background-color: #00d9ff;
        color: #001114d2;
        box-shadow: inset 3px 3px 0px 0px #01badbd8, inset -3px -3px 0px 0px #004c59d2, 0px 0px 20px #02d9ff;
    }
}

.sec4_1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "sporty";
    font-size: 1.3vw;
    padding: 20px;
}

.sec4_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "sporty";
    height: 100vh;
    background-image: url("../imagens/mapa.png");
    background-repeat: no-repeat;
    background-size: cover;

    .sec4_3 p {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #00daff;
        font-size: 2em;
        width: 460px;
        padding: 10px 0px 10px 0px;
        box-shadow: inset 3px 3px 0px 0px #01bbdb, inset -3px -3px 0px 0px #004b59;
        color: rgba(0, 0, 0, 0.858);
        cursor: pointer;
        margin-top: 600px;
    }

    .sec4_3 p:hover {
        background-color: #00d9ff;
        color: #001114d2;
        box-shadow: inset 3px 3px 0px 0px #01badbd8, inset -3px -3px 0px 0px #004c59d2, 0px 0px 20px #02d9ff;
    }
}





footer {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    height: 70px;
    color: white;
    font-size: 0.8em;

    div {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        padding-top: 5px;
        width: 100vw;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        padding-top: 10px;
        width: 4vw;
    }

    p {
        text-align: center;
    }
}