@charset "UTF-8";

@font-face {
    font-family: sporty;
    src: url("../fonte/sporty-pro-bold.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

mainbody {
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100vw;
    height: 78px;
    background-color: black;
    position: fixed;
}

.logoTopo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoTopo > img {
    height: 5vh;
    padding-left: 30px;
}

.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    a {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 78px;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        
        background-color: rgba(255, 255, 255, 0.053);
        color: rgb(0, 200, 255);
        height: 78px;
        
        
    }
}

.menuDireita {
    width: 200px;
    color: white;
}

section {
    height: 100vh;
    width: 100vw;
}

.sec1 {
    background-image: url("/imagens/900.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2 {
    display: flex;
    width: 100vw;
    height: 640px;
    background-color: white;

    .sec2Esquerda {
        height: 630px;
        width: 100vw;
    }

    .sec2Esquerda {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .esquerd {
            height: 460px;
        }

        h2 {
            background-image: linear-gradient(to right, rgba(128, 128, 128, 0.23), transparent);
            font-family: "sporty";
            font-size: 3.5em;
            text-align: center;
            padding: 6px 6px 0px 6px;
            width: 830px;
            margin-bottom: 40px;
          
        }

        .descubraPer {
            font-family: "sporty";
            text-align: center;
            font-size: 2em;
        }

        .brasao {
            margin-top: 10px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 30px;

                .img00 {
                    display: block;
                }

                img {
                    width: 6em;
                }

                p {
                    margin-top: 10px;
                }
        }
    }
    .sec2Direita {
        height: 630px;
        width: 1300px;
        background-image: linear-gradient(to right, rgba(128, 128, 128, 0.108), transparent);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.iframePersonagens {
    overflow: hidden;
    height: 630px;
}







footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    width: 100vw;
    height: 70px;
    color: white;
    font-size: 0.8em;

    div {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        padding-top: 5px;
        width: 100vw;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        padding-top: 10px;
        width: 4vw;
    }

    p {
        text-align: center;
    }
}